/* GLOBAL */

:root{
  --font: 'Roboto';
  --font-color:#0c0b41;
  --body-color:#f9faff;
  --bg-color:#f1f2ff;
  --button-color:#f4e3a5;
}

#root{
  background-color: var(--body-color);
}


.primary-title{
  font-family: var(--font);
  color: var(--font-color);
  font-size: 40px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 30px;
}

.title{
  font-size:48px;
  font-family: var(--font),sans-serif;
}

.inner-text{
  font-size: 16px;
  color: var(--font-color);
  margin: 0;
}
/* layout */

#sidebar,#courses,#ranking{
  margin: 0;
  padding: 0;
}

#sidebar{
  margin-top: 37px;
}

#ranking{
  margin-top: 37px;
}



/* Header */
.bg-header{
  height: 180px; 
}

.bg-header img{
  height: 100%;
  object-fit: cover;
  object-position: center;

}
/* Sidebar */

.nav-container{
  border-radius: 20px;
}

#sidebar .nav-container{
  background-color: var(--bg-color);
}

.logo-container{
  margin-top: 24px;
}
.main-menu{
  margin-top: 170px;
}

.secondary-menu{
  margin-top: 600px;
}

.logo{
  font-size: 4em;
}

.icon{
  font-size: 1em;
  padding-right: 20px;
}

.nav-item{
  padding-left: 45px;
  padding-bottom: 30px;
}



/* Courses */

#courses .course-container{
  background-color: red;
  padding-left: 15px;
}

#courses .miniature img{
  width: 200px;
  height: 108px;
  border-radius: 20px;
  object-fit: cover;
}

#courses .mainlesson img{
  width: 300px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}

#courses .gallery-slider{
  padding: 0;
  margin: 0;
  
}
#main{
  background-color: yellow;
  margin:5px 5px
  
}

#main2{
  background-color: blue;
  margin:5px 5px
}


#class-container{
  background-color: green;
  margin:0 5px
}

#course{
  background-color: red;
}
.col-3{
  background-color: aqua;
}

/* ranking */

#ranking-container{
  background-color: chartreuse;
}

#ranking-container .avatar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
  margin: 2.5px;
}

#ranking-container .user-avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
}

.user-avatar img{
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

/* Progress */

#progress-container{
  background-color: blue;
  

}

#progress-container .circular-progress-container{
  padding: 75px 0;
}

#progress-container .circular-progress{
  padding: 75px 0;
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: conic-gradient(red 300deg,gray 0deg);
}

#progress-container .circular-progress::before{
  content: "";
  position: absolute;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: #fff;
}
#progress-container .progress-value{
  position: relative;
}





