/* Header */
.bg-header{
  height: 180px; 
}

.bg-header img{
  height: 100%;
  object-fit: cover;
  object-position: center;

}
/* Sidebar */

#sidebar,#course,#ranking{
  margin: 0;
  padding: 0;
}
.sidebar{
  border-radius: 20px;
}

/* Main Content */

#courses .miniature img{
  width: 200px;
  height: 108px;
  border-radius: 20px;
  object-fit: cover;
}

#courses .mainlesson img{
  width: 300px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}

#courses .gallery-slider{
  padding: 0;
  margin: 0;
  
}
#main{
  background-color: yellow;
  margin:5px 5px
  
}

#main2{
  background-color: blue;
  margin:5px 5px
}


#class-container{
  background-color: green;
  margin:0 5px
}

#course{
  background-color: red;
}
.col-3{
  background-color: aqua;
}

/* ranking */

#ranking-container{
  background-color: chartreuse;
}

#ranking-container .avatar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
  margin: 2.5px;
}

#ranking-container .user-avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
}

.user-avatar img{
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

/* Progress */

#progress-container{
  background-color: blue;
  

}

#progress-container .circular-progress-container{
  padding: 75px 0;
}

#progress-container .circular-progress{
  padding: 75px 0;
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: conic-gradient(red 300deg,gray 0deg);
}

#progress-container .circular-progress::before{
  content: "";
  position: absolute;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: #fff;
}
#progress-container .progress-value{
  position: relative;
}





